.status {
    padding: 2px 5px;
}

.workspaces {
    display: flex;
}

.selected_workspace {
    position: relative;
    background-color: #005577;
    color: #eeeeee;
    width: 100%;
    padding: 2px 8px;
    flex: 1;
}

.unselected_workspace {
    position: relative;
    padding: 2px 8px;
}

.layout_indicator {
    padding: 2px 8px;
}

.window_title {
    flex: 2;
    background-color: #005577;
    padding: 2px 5px;
    color: #eeeeee;
    vertical-align: middle;
}
