.windowControlFlex {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    padding: 1rem;
    margin: 2rem;
    border: 1px solid red;
}

.windowControlItem {
	width: 25%;
	/* border: 1px solid red; */
    align-self: center;
    margin: 10px;
}

.borderSizeInput {
	width: 10%;
}
