.main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	min-height: 90vh;
}

.controlPanel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
